.mainpage{
    min-height: 820px;
    min-width: 1500px;
}

.logobar{
    text-align: left;
}

.logo{
    float: left;
    margin-top: 17px;
    margin-left: 47px;
}

.logotext{
    float: left;
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pagehead{
    font-size: 25px;
    font-family: 'Corbel Light', 'DengXian Light', sans-serif;
    margin-top: 0;
    margin-left: 30px;
    font-weight: 100;
}

.navi{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
