.page{
    margin-left: 20px;
}

.cardtitle{
    color:black
}

.cardtitle:hover{
    color:rgba(0, 0, 0, 0.439)
}

.pagetitle{
    font-size: 25px;
}

.scenelist{
    margin-left: 5%;
    margin-right: 5%;
}

.scenecard{
    box-shadow: 0 0 3px #1c090946;
    width: 200px;
    margin-top: 10px;
}


.sceneform{
    width: 500px;
}